<!DOCTYPE html>
<html lang="en">
    <head>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
    </head>

<h1>Business Decision Calculator</h1>
<p>This website helps small businesses make informed financial decisions. We offer two tools in order to do this: a cost-analysis calculator and a break-even calculator.</p>

<a href="/cost-benefit" class="btn btn-secondary">Cost-Benefit Analysis</a>
<a href="/break-even" class="btn btn-secondary">Break-Even Calculator</a>
